@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url('../fonts/OpenSans-Light.ttf') format('truetype');
}

body {
	font-family: 'Open Sans', sans-serif;
}

/* Header */
.header {
	margin: 0px;
	padding: 25px 0px;
	color: #404040;
	font-size: 15px;
	line-height: 1.5;
	letter-spacing: normal;
}

.header h1 {
	font-weight: 500;
	font-size: 36px;
	margin: 0px;
	padding: 0px;
}

@media(min-width: 970px){
	.header h1 {
		font-weight: 500;
		font-size: 60px;
	}
}

.header h2 {
	margin: 0px;
	padding: 0px;
	font-size: 30px;
	color: #999 !important;
}

/* Content */
.content {
	background-color: #dedede;
	box-shadow: 0px 30px 25px #EBEBEB inset;
	padding: 30px 0px;
}

/* Recaptcha form style */
.recaptcha {
	background-color: white;
	margin: 25px;
	padding: 15px;
}

.recaptcha .form-group {
	background-color: #F9F9F9;
	border-color: #D3D3D3;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
	box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.08);
	clear: none;
}

.recaptcha .check {
	padding: 30px 0px;
}

.recaptcha .terms {
	padding: 15px 10px;
	color: #9B9B9B;
	font-family: Roboto,helvetica,arial,sans-serif;
	font-size: 10px;
	line-height: 10px;
	font-weight: 400;
	text-align: center;
}

.terms img {
	width: 40px;
	margin-left: auto;
	margin-right: auto;
}

.terms h5, .terms h6 {
	margin: 0;
	font-weight: 400;
}

.terms h5 {
	font-size: 10px;
}

.terms h6 {
	font-size: 8px;
	color: #9B9B9B;
}

/* Let's play with the checkbox */
.check input[type="checkbox"] {
	display: none;
}

.check #checkbox-captcha-label {
	display: inline-block;
	font-size: 15px;
	margin-right: 10px;
	line-height: 18px;
	cursor: default;
}

.check #checkbox-captcha-label::before {
	content: "";
	cursor: default;
	display: inline-block;
	width: 35px;
	height: 35px;
	vertical-align: middle;
	background-color: white;
	border-width: 3px;
	border-style: solid;
	border-color: #b3b3b3;
	border-radius: 3px;
	color: #f3f3f3;
	margin-right: 10px;
}

.check input[type="checkbox"]:checked + #checkbox-captcha-label::before {
	content: "\2713";
	font-size: 55px;
	font-weight: 700;
	border: none;
	color: green;
	padding: -15px;
}

.check #checkbox-captcha-label:hover::before {
	border-color: #a3a3a3;
	box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.1) inset;
}

.check #checkbox-captcha {
	font-size: 14px;
	line-height: 17px;
	vertical-align: middle;
	font-family: Roboto,helvetica,arial,sans-serif;
	color: black;
}

/* Modal Challenge */
/* This is used to maintain the scroll bars */
.modal-open {
	overflow: auto !important;
}

.captcha-modal {
	height: 750px;
	width: 400px;
	background-color: white;
	border-width: 1px;
	border-style: solid;
	border-color: #d3d3d3;
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.1);
	position: absolute;
	top: -200px;
	left: 60px;
	padding: 0px;
}

/* In case of mobile we want to display only the modal */
@media(max-width: 768px) {
	#captcha-modal {
		position: absolute;
		top: -295px;
		left: -60px;
	}
}
.captcha {
	border-width: 3px;
	border-color: white;
	border-style: solid;
}

.captcha.modal-header {
	width: auto;
	background-color: #4A90E2;
	padding: 30px 0px;
	border-width: 5px;
	border-bottom: 0px;
}

.captcha.modal-header > div {
	color: white;
	text-align: center;
	vertical-align: middle;
	font-size: 20px;
	font-weight: 400;
}

.captcha.modal-body {
	width: auto;
	height: 400px;
	border-width: 5px;
	background-image: url("../img/Cazeneuve-Urvoas-Valls-lutte-contre-le-terrorisme.jpg");
	background-size: cover;
	background-position: center;
	padding: 0px;
}



table.captcha {
	width: 100%;
	height: 100%
}

td.captcha {
	width: 25%;
	height: 25%;
	box-sizing: border-box;
}

td.captcha.checked {
	box-shadow: 0px 0px 0px 10px white inset;
}

td.captcha.checked::before {
	content: "\2713";
	position: relative;
	top: -35px;
	width: 30px;
	height: 30px;
	background-color: #4A90E2;
	color: white;
	display: inline-block;
	font-size: 30px;
	text-align: center;
	line-height: 30px;
	border-radius: 17px;
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

/* Modal control buttons */
.modal-footer {
	width: 100%;
	margin: 0px;
	padding-top: 5px;
	padding-bottom: 0px;
}

.btn-control {
	background-color: rgba(0, 0, 0, 0);
	border: none;
	color: #333;
	margin-left: 0px;
}

.btn-control:hover {
	background-color: rgba(0,0,0,0);
	color: black;
	text-decoration: none;
}

.btn-control.btn-link {
	margin-left: 0px !important;
	clear: left;
}

/* Report controls */
#footer-report {
	display: none;
}

#footer-report h4 {
	text-align: center !important;

}

/* Nicer radio */
#footer-report input[type="radio"] {
	display: none;
}

#footer-report label {
	float: left;
	vertical-align: middle;
	color: #333;
}

#footer-report label::before {
	content: "";
	height: 25px;
	width: 25px;
	display: inline-block;
	vertical-align: middle;
	margin: 5px;
	border-color: #333;
	border-width: 1px;
	border-style: solid;
	border-radius: 15px;
	text-align: center;
	font-size: 18px;
	line-height: 17px;
}

#footer-report input[type="radio"]:checked + label::before {
	content: "\25cf";
	color: #333;
}

.script {
	display: none;
}

noscript .modal {
	display: block;
	position: static;
}

noscript .captcha.modal-header {
	color: #333;
	background-color: white;
}

noscript .captcha.modal-header > div {
	color: #333;
	font-size: 14px;
	text-align: left;
}

noscript .captcha.modal-header > img {
	vertical-align: middle;
}

noscript input[type="checkbox"] {
	position: relative;
	bottom: -38px;
	right: -80px;
}
